
2010-01-01 open Expenses:Divers
2010-01-01 open Assets:CCP

{% for transaction in transactions %}
{{ transaction.date }} * "plop"
    Assets:CCP             {{ transaction.amount }} EURO
    Expenses:Divers
{% endfor %}
