
2010-01-01 open Expenses:Divers
{% for cpp_id in cpp_ids %}
2010-01-01 open Assets:CCP-{{ cpp_id }}
{% endfor %}

{% for cpp_id, transaction in account_transactions %}
{{ transaction.date }} * "{{ transaction.label }}"
    Assets:CCP-{{ cpp_id }}             {{ transaction.amount }} EURO
    Expenses:Divers
{% endfor %}
